.display {
  padding: 10px;
  text-align: right;
  color: red;

  @media screen and (max-width: 768px) {
    color: blue;
  }
}

.btn{
  max-width: 200px;
  color: red;
  font-style: italic;
  font-size: 20px;
  border: none;
}
