@import '../../common/styles/variables';
@import '../../common/styles/templates';

.display {
  padding: 10px;
  text-align: right;
  color: $main-color;

  @media screen and (max-width: 768px) {
    color: $secondary-color;
  }
}

.btn{
  @extend %btn;
  max-width: 200px;
  color: red;
  font-style: italic;
  font-size: 20px;
  border: none;
}
